In [87]:
import pandas as pd
import numpy as np

In [88]:
import warnings

warnings.filterwarnings('ignore')

In [89]:
df_new = pd.read_csv('fullspecs.csv', low_memory=False, index_col=0, header=None).T

In [90]:
# # df = df_new
df = df_new.copy()

In [91]:
df.head(4)

,NaN,MSRP,Gas Mileage,Engine,EPA Class,Style Name,Drivetrain,Passenger Capacity,Passenger Doors,Body Style,...,Fourth Hip Room (in),Fourth Leg Room (in),Fourth Shoulder Room (in),Fourth Head Room (in),Fifth Shoulder Room (in),Fifth Head Room (in),Fifth Hip Room (in),Fifth Leg Room (in),Corrosion Note,Hybrid/Electric Components Note
1,2019 Acura RDX Specs: FWD w/Technology Pkg,"$40,600",22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Small Sport Utility Vehicles 2WD,FWD w/Technology Pkg,Front Wheel Drive,5,4,Sport Utility,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019 Acura RDX Specs: FWD w/Advance Pkg,"$45,500",22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Small Sport Utility Vehicles 2WD,FWD w/Advance Pkg,Front Wheel Drive,5,4,Sport Utility,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019 Acura RDX Specs: FWD w/A-Spec Pkg,"$43,600",22 mpg City/27 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Small Sport Utility Vehicles 2WD,FWD w/A-Spec Pkg,Front Wheel Drive,5,4,Sport Utility,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019 Acura RDX Specs: FWD,"$37,400",22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Small Sport Utility Vehicles 2WD,FWD,Front Wheel Drive,5,4,Sport Utility,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
df.rename(columns={np.nan: "model", "MSRP":"Price"}, inplace=True)

In [93]:
df.head(4)

,model,Price,Gas Mileage,Engine,EPA Class,Style Name,Drivetrain,Passenger Capacity,Passenger Doors,Body Style,...,Fourth Hip Room (in),Fourth Leg Room (in),Fourth Shoulder Room (in),Fourth Head Room (in),Fifth Shoulder Room (in),Fifth Head Room (in),Fifth Hip Room (in),Fifth Leg Room (in),Corrosion Note,Hybrid/Electric Components Note
1,2019 Acura RDX Specs: FWD w/Technology Pkg,"$40,600",22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Small Sport Utility Vehicles 2WD,FWD w/Technology Pkg,Front Wheel Drive,5,4,Sport Utility,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019 Acura RDX Specs: FWD w/Advance Pkg,"$45,500",22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Small Sport Utility Vehicles 2WD,FWD w/Advance Pkg,Front Wheel Drive,5,4,Sport Utility,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019 Acura RDX Specs: FWD w/A-Spec Pkg,"$43,600",22 mpg City/27 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Small Sport Utility Vehicles 2WD,FWD w/A-Spec Pkg,Front Wheel Drive,5,4,Sport Utility,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019 Acura RDX Specs: FWD,"$37,400",22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Small Sport Utility Vehicles 2WD,FWD,Front Wheel Drive,5,4,Sport Utility,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
# df.columns.tolist()

In [95]:
columns_to_keep=['model', 'Price', 'Gas Mileage',  'Engine', 'Drivetrain', 'Passenger Capacity',  'Passenger Doors',  'Body Style',  'Transmission']

In [96]:
data=df[columns_to_keep]

In [97]:
data.head(4)

,model,Price,Gas Mileage,Engine,Drivetrain,Passenger Capacity,Passenger Doors,Body Style,Transmission
1,2019 Acura RDX Specs: FWD w/Technology Pkg,"$40,600",22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
2,2019 Acura RDX Specs: FWD w/Advance Pkg,"$45,500",22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
3,2019 Acura RDX Specs: FWD w/A-Spec Pkg,"$43,600",22 mpg City/27 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
4,2019 Acura RDX Specs: FWD,"$37,400",22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...

In [98]:
# print(df.loc[588, 'Transmission'])
# for value in columns_to_keep:
#     print(f' the column {value}: {df[value].isnull().values.any()} : {df[value].isnull().sum()}')

In [99]:
data_model = [val.split(' ')[1] for val in data['model'].values]
data_year = [val.split(' ')[0] for val in data['model'].values]

data['model'] = data_model
data.insert(1, 'year', data_year, True)

In [100]:
data.head(4)

,model,year,Price,Gas Mileage,Engine,Drivetrain,Passenger Capacity,Passenger Doors,Body Style,Transmission
1,Acura,2019,"$40,600",22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
2,Acura,2019,"$45,500",22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
3,Acura,2019,"$43,600",22 mpg City/27 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
4,Acura,2019,"$37,400",22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...

In [101]:
# # data.groupby('model').nunique()
#

In [102]:
data['Price'] = data['Price'].str.replace('$', '')
data['Price'] = data['Price'].str.replace(',', '')
# for q, p in enumerate(data['Price'], start=1):
#     if type(p) != str:
#         continue
#     else:
#         data['Price'] = int(p)

In [103]:
# # data.groupby('Gas Mileage').nunique()
#

In [104]:
data.head(4)

,model,year,Price,Gas Mileage,Engine,Drivetrain,Passenger Capacity,Passenger Doors,Body Style,Transmission
1,Acura,2019,40600,22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
2,Acura,2019,45500,22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
3,Acura,2019,43600,22 mpg City/27 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
4,Acura,2019,37400,22 mpg City/28 mpg Hwy,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...

In [105]:
# data['Gas Mileage'] = [int(v.split('/')[1].split(' ')[0]) - int(v.split(' ')[0]) if type(v) == str else '' for v in data['Gas Mileage']]
for v, w in enumerate(data['Gas Mileage'], start=1):
    if type(w) != str:
        continue
    else:
        f = w.find('/')
        if f == -1:
            data.loc[v, 'Gas Mileage'] = int(abs(int(w.split(' ')[0])))
        else:
            n1 = int(w.split('/')[1].split(' ')[0])
            n2 = int(w.split(' ')[0])
            data.loc[v, 'Gas Mileage'] = int(abs(n1 + n2))

In [106]:
data.head(5)

,model,year,Price,Gas Mileage,Engine,Drivetrain,Passenger Capacity,Passenger Doors,Body Style,Transmission
1,Acura,2019,40600,50,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
2,Acura,2019,45500,50,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
3,Acura,2019,43600,49,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
4,Acura,2019,37400,50,"Turbo Premium Unleaded I-4, 2.0 L",Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
5,Acura,2019,42600,48,"Turbo Premium Unleaded I-4, 2.0 L",All Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...

In [107]:
for r, engine in enumerate(data['Engine'], start=1):
    if type(engine) != str:
        continue
    else:
        g = engine.find('/')
        if g == -1:
            if 'Gas' in engine:
                data.loc[r, 'Engine'] = 1
            elif 'Unleaded' in engine:
                data.loc[r, 'Engine'] = 2
            elif ' Electric' in engine:
                data.loc[r, 'Engine'] = 3
            elif 'Diesel' in engine:
                data.loc[r, 'Engine'] = 4
            else:
                data.loc[r, 'Engine'] = 5
        else:
            if 'Gas/Electric' in engine:
                data.loc[r, 'Engine'] = 0
            elif 'Gas/Ethanol' in engine:
                data.loc[r, 'Engine'] = 6
            else:
                data.loc[r, 'Engine'] = 7

In [108]:
data.head(4)

,model,year,Price,Gas Mileage,Engine,Drivetrain,Passenger Capacity,Passenger Doors,Body Style,Transmission
1,Acura,2019,40600,50,2,Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
2,Acura,2019,45500,50,2,Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
3,Acura,2019,43600,49,2,Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...
4,Acura,2019,37400,50,2,Front Wheel Drive,5,4,Sport Utility,Transmission: 10-Speed Automatic -inc: sequent...

In [109]:
# # data.groupby('Body Style').nunique()
#

In [110]:
for a, b in enumerate(data['Body Style'], start=1):
    if type(b) != str:
        continue
    else:
        if 'Pickup' in b:
            data.loc[a, 'Body Style'] = 8
        elif 'Sport' in b:
            data.loc[a, 'Body Style'] = 1
        elif '2dr' in b:
            data.loc[a, 'Body Style'] = 2
        elif '3dr' in b:
            data.loc[a, 'Body Style'] = 3
        elif '4dr' in b:
            data.loc[a, 'Body Style'] = 4
        elif 'van' in b or 'Mini-van' in b:
            data.loc[a, 'Body Style'] = 5
        elif 'Specialty' in b:
            data.loc[a, 'Body Style'] = 6
        elif 'Wagon' in b:
            data.loc[a, 'Body Style'] = 7
        else:
            data.loc[a, 'Body Style'] = 0

In [111]:
data.head(4)

,model,year,Price,Gas Mileage,Engine,Drivetrain,Passenger Capacity,Passenger Doors,Body Style,Transmission
1,Acura,2019,40600,50,2,Front Wheel Drive,5,4,1,Transmission: 10-Speed Automatic -inc: sequent...
2,Acura,2019,45500,50,2,Front Wheel Drive,5,4,1,Transmission: 10-Speed Automatic -inc: sequent...
3,Acura,2019,43600,49,2,Front Wheel Drive,5,4,1,Transmission: 10-Speed Automatic -inc: sequent...
4,Acura,2019,37400,50,2,Front Wheel Drive,5,4,1,Transmission: 10-Speed Automatic -inc: sequent...

In [112]:
for c, d in enumerate(data['Drivetrain'], start=1):
    if type(d) != str:
        continue
    else:
        if d.startswith('All') or d.startswith('4'):
            data.loc[c,'Drivetrain'] = 0
        elif d.startswith('Front'):
            data.loc[c,'Drivetrain'] = 1
        elif d.startswith('Rear'):
            data.loc[c,'Drivetrain'] = 2
        else:
            data.loc[c,'Drivetrain'] = 3

In [113]:
data.head(4)

,model,year,Price,Gas Mileage,Engine,Drivetrain,Passenger Capacity,Passenger Doors,Body Style,Transmission
1,Acura,2019,40600,50,2,1,5,4,1,Transmission: 10-Speed Automatic -inc: sequent...
2,Acura,2019,45500,50,2,1,5,4,1,Transmission: 10-Speed Automatic -inc: sequent...
3,Acura,2019,43600,49,2,1,5,4,1,Transmission: 10-Speed Automatic -inc: sequent...
4,Acura,2019,37400,50,2,1,5,4,1,Transmission: 10-Speed Automatic -inc: sequent...

In [114]:
# # data['Transmission'].values.tolist()
#

In [115]:
for s, t in enumerate(data['Transmission'], start=1):
    if type(t) != str:
        continue
    else:
        s1 = t.find('-speed')
        s2 = t.find('-Speed')
        if s1 == -1:
            if type(t[s2-2:s2]) == int:
                data.loc[s, 'Transmission'] = t[s2-2:s2]
            else:
                data.loc[s, 'Transmission'] = 1
        elif s1 != -1:
            if type(t[s1-1]) == int:
                data.loc[s, 'Transmission'] = t[s1-1]
            else:
                data.loc[s, 'Transmission'] =1
        else:
            data.loc[s, 'Transmission'] = 0

In [116]:
data.head(4)

,model,year,Price,Gas Mileage,Engine,Drivetrain,Passenger Capacity,Passenger Doors,Body Style,Transmission
1,Acura,2019,40600,50,2,1,5,4,1,1
2,Acura,2019,45500,50,2,1,5,4,1,1
3,Acura,2019,43600,49,2,1,5,4,1,1
4,Acura,2019,37400,50,2,1,5,4,1,1

In [117]:
for value in columns_to_keep:
    print(f' the column {value}: {data[value].isnull().values.any()} : {data[value].isnull().sum()}')

 the column model: False : 0
 the column Price: True : 54
 the column Gas Mileage: True : 6024
 the column Engine: True : 1975
 the column Drivetrain: True : 1716
 the column Passenger Capacity: False : 0
 the column Passenger Doors: False : 0
 the column Body Style: True : 1716
 the column Transmission: True : 2714

In [118]:
data.to_csv('cars_data.csv')

In [119]:
# # data['Price'].fillna(data.groupby(['model', 'year'])['Price'].transform('median'),inplace=True)
#

In [120]:
# # data['Gas Mileage'].fillna(data.groupby(['model', 'year'])['Gas Mileage'].transform('median'),inplace=True)
#
#

In [121]:

# # for value in columns_to_keep:
# #     print(f' the column {value}: {data[value].isnull().values.any()} : {data[value].isnull().sum()}')
#

In [122]:
# # for i, y in enumerate(data['Gas Mileage'], start=1):
# #     print(type(y))
# #     if i == 3:
# #         break
#

In [123]:
# # data['Gas Mileage'].values.tolist()